:root {
  --background-color: #2f2f2f;
  --header-color: #efefef;
  --nav-bg-color: #444444cc;
  --text-color: #ffffff;
  --card-bg-color: #ffffff;
  --card-border-color: #1c1c1c;
  --card-header-color: #333333;
  --card-text-color: #333333;
  --term-color: #666666;
  --box-shadow-color: #000000bf;
  --icon-color: #eeeeee;
  --subcard-bg-color: #FFFFFF;
  --button-bg-color: #acacac;
  --button-text-color: #003f61;
  --skill-bg-color: #333333;
}
