:root {
  --background-color: #0f0f0f;
  --header-color: #efefef;
  --nav-bg-color: #1f1f1fcc;
  --text-color: #ffffff;
  --card-bg-color: #1f1f1f;
  --card-border-color: #1c1c1c;
  --card-header-color: #dddddd;
  --card-text-color: #eeeeee;
  --term-color: #aaaaaa;
  --box-shadow-color: #000000bf;
  --icon-color: #eeeeee;
  --subcard-bg-color: #FFFFFF;
  --button-bg-color: #acacac;
  --button-text-color: #003f61;
  --skill-bg-color: #1a1a1a;
  --section-box-shadow: grey;
}
